@import "variables";
@import "reset";
@import "humburger-menu";

html {
  background: rgba(198, 119, 119, 0.2);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

header {
  display: flex;
  position: relative;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: baseline;
  background: #2d303a;
  border-bottom: $border-style;

  div {
    display: flex;
    padding-left: 2rem;
    align-items: baseline;
    justify-content: space-between;
    @include heading-style;
  }

  h1 a {
    @include heading-style;
  }
}

.logo-img {
  height: 4rem;
  margin: auto 0.8rem;
  width: 4rem;
  background-color: aqua;
  border-radius: 50%;
}

.wrapper {
  display: flex;
}

aside {
  display: flex;
  flex: 1.5;
  padding: 1rem 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f06c64;
  border-right: $border-style;
  .nav {
    color: $nav-color;
    margin: 2rem 0;
    padding: 0;
    li {
      background: $nav-link-background;
      margin-bottom: 1rem;
      text-align: center;
      border-radius: 0.5rem;
      height: 3rem;
      padding: 0.8rem;
      width: 12rem;
      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
  h2 {
    background: $nav-link-background;
    text-align: center;
    height: 3rem;
    padding: 0.8rem;
    width: 12rem;
    border-radius: 0.5rem;
    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

main {
  flex: 5;
}

.button-standart {
  @include button-standart-style;
}

section {
  background: rgb(48, 248, 242);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  border-radius: 2rem;
  padding: 1rem;
}

.section-standart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  border-bottom: $border-style;
  article {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 20rem;
    align-items: center;
    @include glass-effect;
  }
  .flex-center {
    justify-content: center;
  }
  .flex-around {
    justify-content: space-around;
  }
}

// SECOND SECTION

.section-special {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
  .article-special {
    display: flex;
    justify-content: space-around;
    //align-items: center;
    width: 90%;
    height: 25rem;
    background: #5fe092;
    &__text {
      width: 90%;
      height: 15rem;
      padding: 1rem;
      margin-top: 0.5rem;
      border-radius: 2rem;
      text-align: center;
      @include glass-effect;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
    @include glass-effect;
  }
  .flex-start {
    justify-content: start;
  }
  .flex-center {
    justify-content: center;
  }
  .flex-end {
    justify-content: flex-end;
  }
}

footer {
  background: #2d303a;
  padding: 1rem 4rem;
  border-top: $border-style;
  &:hover {
    cursor: pointer;
  }
  h2 {
    @include footer-heading;
  }
}

// MEDIA TABLET//

//@media (max-width: 766px) {
//}

/////***** MEDIA MOBILE//

@media (max-width: 766px) {
  .wrapper {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  header {
    .sign-in {
      display: none;
    }
    .logo-box {
      margin: 0 auto;
    }

    .logo-name {
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
    }
    h1 {
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  .section-standart {
    flex-direction: column;

    article {
      margin-top: 1rem;
      width: 30rem;
    }
  }
  .button-standart {
    border-radius: 1rem;
    width: 12rem;
    height: 4rem;
  }
  .section-special {
    flex-direction: column;
    flex-wrap: wrap;

    article {
      width: 14rem;
    }

    .article-special {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30rem;
      height: 20rem;

      div {
        width: 28rem;
        height: 20rem;
        padding: 0.5rem;
        border-radius: 2rem;
        margin-top: 1rem;
      }
    }
  }
}
